<header><a href="/index.html">MARK DURKAN</a></header>
    <div class="projectBody">
        <nav>   
            <ul id="pageLinks">
                <li id="projects" class="projects links">PROJECTS
                    <ul id="projectLinks">
                        {%- for project in collections.project -%}
                            <li>{{ project.data.title }} </li>
                        {%- endfor -%}
                    </ul>
                </li>
                <li class="info links"><a href="./project-page.html">INFO</a></li>
                <li class="contact links"><a href="./project-page.html">CONTACT</a></li>
            </ul>
        </nav>
                