---
layout: base.njk
---
{% block style %}
      <link rel="stylesheet" href="/project-style.css" />
{% endblock %}

<div class="projectBody" id="projectBody">
    <section id="hero">
            <div id="heroContent">
                <img id="poster" src="{{ image }}"
                    alt="{{ imageAlt }}" 
                />
                

                <div class="projectContext"> 
                {% for block in category_content %}
                    <card class="project-details-container">
                        
                            <div class="project-details project-details-title" >    
                            
                                {{ block.heading | safe }}
                            
                            </div>
                        
                            <div class="project-details project-details-content"
                            >
                            
                                {{ block.text | safe }}
                            
                            </div>
                        
                    </card>
                {% endfor %}                               
                   
                </div>
            </div>
    </section>
        <main class="project-content-main"> 
        {% for block in content_blocks %}
            {% if block.type == "section_heading" %}
                <h2 class="projectContentHeading">
                    {{ block.heading | markdown | safe }}
                </h2>
            {% elif block.type == "text_block" %}
                <div class="projectContentText">
                    {{ block.text | markdown | safe }}
                </div>
            {% elif block.type == "image_block" %}
                <div class="project-content-images">
                    <img src="{{ block.image }}" />
                    <p class="project-content-image-text" alt="{{ block.alt}}"> 
                        {{ block.caption | safe}}
                    </p>
                </div> 
            {% elif block.type == "project_pdf" %}
                <a class=download-document href="{{ block.document }}" download>
                <img class="document-icon" src="/assets/icons/pdf-documentation-svgrepo-com.svg" />
                  {{ block.title | safe }}
                </a>
            {% elif block.type == "gallery_block" %}
                <div class="project-content-image-gallery">
                    {% for image in block.gallery_image %}
                        <div class="gallery-image">
                            <img src="{{ image.image }}" />
                            <p 
                                class="project-content-image-text" 
                                alt="{{ block.alt}}"
                            > 
                                {{ block.caption | safe}}
                            </p>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endfor %}
    </main>
</div>

</div>