---
layout: base.njk
---

<div>
    <section id="hero">
            <div id="heroContent">
                <img id="poster" src="{{ image }}"
                    alt="{{ imageAlt }}" />
                <div class="projectContext">                                
                    <card class="project-details-container">
                        <div class="project-details project-details-title" >PROJECT</div>
                        <div class="project-details project-details-content" >{{ title }}</div>
                    </card>
                    <card class="project-details-container">
                        <div class="project-details project-details-title" >DATES</div>
                        <div class="project-details project-details-content" >{{ dates }}</div>
                    </card>                               
                    <card class="project-details-container">
                        <div class="project-details project-details-title" >COLLABORATOR</div>
                        <div class="project-details project-details-content" >{{ collaborator }}</div>
                    </card>                             
                    <card class="project-details-container">
                        <div class="project-details project-details-title" >CONTEXT</div>
                        <div class="project-details project-details-content" >{{ context }}</div>
                    </card>                             
                    <card class="project-details-container">
                        <div class="project-details project-details-title" >FUNDERS</div>
                        <div class="project-details project-details-content" > </div>
                    </card>
                </div>
            </div>
    </section>
        <main class="project-content-main"> 
        {% for block in content_blocks %}
            {% if block.type == "section_heading" %}
                <h2 class="projectContentHeading">
                    {{ block.heading | markdown | safe }}
                </h2>
            {% elif block.type == "text_block" %}
                <div class="projectContentText">
                    {{ block.text | markdown | safe }}
                </div>
            {% elif block.type == "image_block" %}
                <div class="projectContentImages">
                    <img src="{{ block.image }}" />
                </div> 
            {% elif block.type == "project_pdf" %}
                <a href="{{ block.document }}" download>
                    Download Project PDF
                </a>
            {% elif block.type == "gallery_block" %}
                <div class="projectContentImages">
                    {% for image in block.gallery_image %}
                        <img src="{{ image.image }}" />                        
                    {% endfor %}
                </div>     
            {% endif %}
        {% endfor %}
    </main>
</div>

</div>