---
layout: base.njk
---

<div class="projectContent">
    <section id="hero">
            <div id="heroContent">
                <img id="poster" src="{{ image }}"
                    alt="{{ imageAlt }}" />
                <div class="projectContext">                                
                    <div class="project-details project-details-title" >PROJECT</div>
                    <div class="project-details project-details-content" >{{ title }}</div> 
                    <div class="project-details project-details-title" >DATES</div>
                    <div class="project-details project-details-content" >{{ dates }}</div>                                 
                    <div class="project-details project-details-title" >COLLABORATOR</div>
                    <div class="project-details project-details-content" >{{ collaborator }}</div>                               
                    <div class="project-details project-details-title" >CONTEXT</div>
                    <div class="project-details project-details-content" >{{ context }}</div>                                
                    <div class="project-details project-details-title" >FUNDERS</div>
                    <div class="project-details project-details-content" > </div>   
                </div>
            </div>
    </section>
    <main class="project-content-main">

        {% for block in content_blocks %}
            {% if block.type == "section_heading" %}
                <h2 class="projectContentHeading">
                    {{ block.text | safe }}
                </h2>
            {% elif block.type == "text_block" %}
                <div class="projectContentText">
                    {{ block.text | safe }}
                </div>
            {% elif block.type == "image_block" %}
                <div class="projectContentImages">
                    <img src="{{ block.image }}/>
                </div>
            {% endif %}
        {% endfor %}
       
    </main>
</div>
</div> 