<nav>   
    <div id="overlay" ></div>
    <div id="pageLinks">
      <div class="info links">
        <a href="./info-page/index.html">INFO</a>
      </div>
      <div class="contact links">
        <a href="./contact-page/index.html">CONTACT</a>
      </div>
    </div>
</nav>