@font-face {
    font-family: 'BodyFont';
    src: url('./assets/fonts/Knockout-HTF51-Middleweight.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
    max-width: 1400px;
}
/* THE MAIN CONTENT OF THE PROJECT PAGE */
main {
    display: flex;
    align-items: start;
}

h2 {
    font-family: 'BodyFont', sans-serif;
      padding-bottom: 1rem;
}
.home-page-content {
    display: grid;
    gap: 1.2rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content:space-between ;
    padding: 0;
    /* padding-top: 7rem; */
}

@media (max-width: 780px) {
    .home-page-content{
        display: grid;
        gap: 1.2rem;
        grid-template-columns: 1fr 1fr;
    }
}