/* THE MAIN CONTENT OF THE HOME PAGE */
main {
    display: grid;
    grid-template-rows: auto;
    min-width: 0;
    max-width: 95%;
}
h2 {
    font-size: 1.6rem;
    padding-bottom: 1rem;
    padding-top: 3rem;
}
.home-page-content {
    display: flex;
    gap: 1.2rem;   
    align-items: flex-start; 
    padding: 0;
    overflow-x: auto;
    min-width: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scrollbar-width: none;
}
.home-page-content::-webkit-scrollbar {
  display: none; /* Chrome/Safari hide scrollbar */
}
.nav-arrow {
  position: relative;
  background: rgba(0,0,0,0.5);
  color: white;
  border: none;
  padding: 0.5rem;
  z-index: 1;
}
.nav-arrow.left { left: 0; }
.nav-arrow.right { right: 0; }
.project-link-image {
    display: block;
    flex-shrink: 0;
    max-width: 350px;
    height: auto;
}
.title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* mobile style */
@media (max-width: 780px) {
    .home-page-content{
        display: grid;
        gap: 1.2rem;
        grid-template-columns: 1fr 1fr;
    }
}