@font-face {
    font-family: 'HeaderFont';
    src: url('./assets/fonts/IntroHeadB-Trial-Base.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BodyFont';
    src: url('./assets/fonts/Knockout-HTF51-Middleweight.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BodyFontItalic';
    src: url('./assets/fonts/Knockout-HTF51-Middleweight.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
    padding-top: .5rem;
    font-family: 'BodyFont', sans-serif;
    font-size: clamp(1rem, 1.1vw, 1.25rem);
    background: black;
    color: white;
    width: 95%;
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
header {
    font-family: 'HeaderFont', sans-serif;
    font-size: 1.5rem;
    padding-bottom: 6rem;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'HeaderFont', sans-serif;
    font-weight: normal;
    /* font-size: clamp(2rem, 4vw, 3rem); */
}
p {
    font-family: 'BodyFont', sans-serif;
    padding: .5rem;
}
.projectBody {
    display: grid;
    grid-template-columns: 1fr 5fr;
    gap: 3rem;
}
ul {
    list-style: none;
    font-family: 'HeaderFont', sans-serif;
}
#pageLinks {
    font-size: clamp(1.1rem, 2vw, 1.3rem);
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: relative;
}
.links {
    position: relative;
    cursor: pointer;
    transition: transform 0.3s ease;
}
#projectLinks {    
    /* visibility: visible; */
    /* list-style-type: none; */
    /* position: absolute; */
    /* top: 100%;
    z-index: 1;
    opacity: 1; */
    /* transform: translateX(0px);
    transition: opacity .4s ease, transform .5s ease, visibility .4s ease; */
}
nav #projects:hover #projectLinks {
    /* visibility: visible; */
    opacity: 1;
    /* transform: translateX(20px); */
}
main {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
}

img {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    outline: none;
  }
  
  a:hover, a:focus {
    text-decoration: none;
    color: grey;
    cursor: pointer;
    outline: none;
  }

  /* footer */
  footer {
    padding: 3rem;
    text-align: center;
    font-size: clamp(.7rem, 1vw, 1rem);
  }

  /* mobile style */
  @media (max-width: 780px) {
    body {
        width: 100%;
        max-width: 100%;
        margin: 0 auto;
        padding-left: 1rem;
        padding-right: 1rem; /* Adjust padding as needed */
    }
    nav{
        width: 100%;
        /* max-width: 100%; */
    }
     #pageLinks {
        display: flex; 
        flex-direction: row; 
        justify-content: flex-end; 
        font-size: 1rem; 
        position: static;
        gap: .5rem;
        width: 90%;
    }

    .links {
        position: relative;
        cursor: pointer;
        transition: none;
    }
    #projectLinks {   
        padding-top: 10px;
        display: grid;
        grid-template-columns: 1fr;
        width: 200px;
        overflow: hidden;
        position: absolute;
        top: 100%;
        z-index: 1;
        opacity: 0;
        transform: translateX(180px);
        transition: opacity .9s ease, transform .9s ease;
    }
    /* nav #projectLinks:active {
        opacity: 1;
        transform: translateX(0);
    } */
    /* Disable animations on other links */
    .info,
    .contact {
        transform: none !important;
        transition: none !important; 
    }

    /* ul {
        padding: 0 1rem; 
    }

    li {
        margin: 5px 0; /
    }  */
}