/* admin/admin.css */
body {
  font-family: "Inter", sans-serif;
  background-color: red;
}

/* Example: Customize the sidebar */
.nc-appHeader {
  background-color: #2d3748 !important;
}

/* Example: Change button color */
.nc-button {
  background-color: #4fd1c5 !important;
  color: white !important;
}
