body {
    max-width: 1400px;
}
/* THE MAIN CONTENT OF THE PROJECT PAGE */
.home-page-content{
    display: grid;
    gap: 1.2rem;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content:space-between ;
    padding: 0;
    padding-top: 7rem;
}

