---
title: example
layout: base.njk
---
    
<main >
    <div>
        <h2> Participate </h2>
        <div class="home-page-content">
            {%- for project in collections.participate -%}
                <div class="project-link-image">
                    <card>
                        <a href="{{ project.url }}">
                            <img src="{{ project.data.image }}"/>
                        </a>
                    </card>
                    <div id="page-link-description">
                        {{ project.data.context | safe }}
                    </div>
                </div>
            {%- endfor %}
        </div>
    </div>
<div>
    <h2> Practice </h2>
    <div class="home-page-content">
    {%- for project in collections.practice -%}
        <div class="project-link-image">
            <card>
                <a href="{{ project.url }}">
                    <img src="{{ project.data.image }}"/>
                </a>
            </card>
            <div id="page-link-description">
                {{ project.data.context | safe }}
            </div>
        </div>
    {%- endfor -%}
    </div>
</div>
    <div>
        <h2> Projects </h2>
        <div class="home-page-content">
            {%- for project in collections.event -%}
                <div class="project-link-image">
                    <card>
                        <a href="{{ project.url }}">
                            <img src="{{ project.data.image }}"/>
                        </a>
                    </card>
                    <div id="page-link-description">
                        {{ project.data.context | safe }}
                    </div>
                </div>
            {%- endfor -%}
        </div>
    </div>
</main>
</div>
