.project-body {
    /* width: 80%;
    min-width: 570px; */
    width: clamp(570px, 90%, 1400px);
}
/* The hero section */
#hero {
    width: 100%;
    margin-bottom: 2rem;
}
#hero-content {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: stretch;
}
#poster {
    max-height: 80vh;
    width: auto;
    height: auto;
    object-fit: contain;
}
.project-context{
    display: grid;
    grid-template-columns: 1fr ;
    grid-auto-rows: auto;
    align-content: start;
    border-top: 1px solid white; 
    border-right: 1px solid white;
    border-bottom: 1px solid white;;
    margin-top: 0px; 
    margin-bottom: 0px; 
}
.project-details-container{
    display: grid;
    grid-template-columns: minmax(150px, 20%) 4fr;
    border-bottom: 1px solid white; 
}
.project-details {
    display: flex;
    align-items: flex-start;
    padding: 0.5rem 0.5rem 0.8rem 0.5rem;
}
.project-details-title {
    font-family: 'HeaderFont', sans-serif;
    font-size: clamp(1.1rem, 1.1vw, 1.2rem);
    border-right: 1px solid white; 
}
.project-details-content {
    font-size: clamp(1rem, 1.1vw, 1.25rem);
    padding-right: .5rem;
}

/* THE MAIN CONTENT OF THE PROJECT PAGE */
.project-content-heading {
    text-align: center;
    margin-bottom: 1rem;
}
.project-content-text {
    padding: 0;
    margin-bottom: 1.5rem;
}
.project-content-images{
    display: grid;
    align-items: start;
    max-width: 60%;
    margin-bottom: .5rem;
}
.project-content-image-text {
    font-size: small;
    margin-top: .5rem;
}
.project-content-image-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}
img {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}
.document-icon {
    background-color: white;
    width: 50px;
    height: auto;
    border-radius: 15%;
    filter: invert(1);
}
/* Mobile styles */

@media (max-width: 750px) {

    header > a {
        line-height: .5;
        padding: 0px;
        display: inline-block;        
    }    
    
    .project-body {
        width: 90%
    }
    /* Hero section */
    #hero {
        /* max-width: 80%; */
    }
    #hero-content {
        /* max-width: 90%; */
        display: grid;
        grid-template-columns: 1fr;
    }
    #poster {
        width: 100%;
        max-height: 100%;
    }
    .project-context{
        border: solid 1px white;
        border-top: none;
    }
    .project-context :last-child{
        border-bottom: none;
    }
    .project-details-container{
        display: grid;
        border-right: none; 
    }
    .project-details-title {
        border-right: 1px solid white;
    }
    /* Project content */
    .project-content-main {
        /* width: 80%; */
    }
    .projectContentImages {
        grid-template-columns: 1fr;
    }
}