@font-face {
    font-family: 'HeaderFont';
    src: url('./assets/fonts/IntroHeadB-Trial-Base.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BodyFont';
    src: url('./assets/fonts/Knockout-HTF51-Middleweight.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BodyFontItalic';
    src: url('./assets/fonts/Knockout-HTF51-Middleweight.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
    padding-top: .5rem;
    font-family: 'BodyFont', sans-serif;
    font-size: clamp(1rem, 1.1vw, 1.25rem);
    background: black;
    color: white;
    width: 100%;
    padding-right: 2rem;
    padding-left: 1rem;
}
header {
    font-family: 'HeaderFont', sans-serif;
    font-size: 1.5rem;
    padding-bottom: 6rem;
}
#mainContent {
    display: grid;
    grid-template-columns: 100px 1fr;
    gap: 6rem;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'HeaderFont', sans-serif;
    font-weight: normal;
}
p {
    font-family: 'BodyFont', sans-serif;
    padding: .5rem;
}

ul {
    list-style: none;
    font-family: 'HeaderFont', sans-serif;
}
#pageLinks {
    font-size: clamp(1.1rem, 1.1vw, 1.2rem);
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: relative;
}
.links {
    position: relative;
    cursor: pointer;
    transition: transform 0.3s ease;
}
#projectLinks {    
    font-size: clamp(1rem, 1vw, 1.1rem);
    visibility: hidden;
    list-style-type: none;
    position: absolute;
    top: 100%;
    z-index: 2;
    opacity: 0;
    transform: translateX(0px);
    transition: opacity .5s ease, transform .7s ease, visibility .4s ease;
}
.hoverable:hover #projectLinks {
    visibility: visible;
    opacity: 1;
    transform: translateX(20px);
}
img {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}
a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    outline: none;
  }  
a:hover, a:focus {
    text-decoration: none;
    color: grey;
    cursor: pointer;
    outline: none;
}
button:hover {
    cursor: pointer;
}

  /* footer */
footer {
    padding: 1rem 0;
    opacity: 50%;
}

/* MOBILE STYLE */
@media (max-width: 780px) {
body {
    width: 90%;
    max-width: 90%;
    margin: 0 auto;
    padding-left: 1rem;
    padding-right: 1rem; 
}
nav{
    width: 100%;
}
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.65);
    opacity: 0;
    transition: opacity .6s ease;
    z-index: 1;
    visibility: hidden;
}
#overlay.active {
    opacity: 1;
    visibility: visible;
}
#pageLinks {
    display: flex; 
    flex-direction: row; 
    justify-content: flex-start; 
    padding-top: 1rem;
    font-size: 1rem; 
    position: static;
    gap: .5rem;
    width: 90%;
}
.links {
    position: relative;
    cursor: pointer;
    transition: none;
}
#projectLinks {   
    padding-top: 10px;
    display: grid;
    grid-template-columns: 1fr;
    gap: .2rem;
    width: 200px;
    overflow: hidden;
    position: absolute;
    top: 100%;
    z-index: 2;
    opacity: 1;
    visibility: visible;
    transform: translateX(-250px);
    transition: opacity 2s ease, transform .6s ease;
}

/* Disable animations on other links */
.info,
.contact {
    transform: none !important;
    transition: none !important; 
}
}